#s-5aa7a7f8-5e3b-4124-8a52-ebf9512a6b37 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aa7a7f8-5e3b-4124-8a52-ebf9512a6b37 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aa7a7f8-5e3b-4124-8a52-ebf9512a6b37 #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aa7a7f8-5e3b-4124-8a52-ebf9512a6b37 #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aa7a7f8-5e3b-4124-8a52-ebf9512a6b37 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aa7a7f8-5e3b-4124-8a52-ebf9512a6b37 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aa7a7f8-5e3b-4124-8a52-ebf9512a6b37 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aa7a7f8-5e3b-4124-8a52-ebf9512a6b37 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aa7a7f8-5e3b-4124-8a52-ebf9512a6b37 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aa7a7f8-5e3b-4124-8a52-ebf9512a6b37 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aa7a7f8-5e3b-4124-8a52-ebf9512a6b37 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aa7a7f8-5e3b-4124-8a52-ebf9512a6b37 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aa7a7f8-5e3b-4124-8a52-ebf9512a6b37 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aa7a7f8-5e3b-4124-8a52-ebf9512a6b37 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aa7a7f8-5e3b-4124-8a52-ebf9512a6b37 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aa7a7f8-5e3b-4124-8a52-ebf9512a6b37 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aa7a7f8-5e3b-4124-8a52-ebf9512a6b37 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aa7a7f8-5e3b-4124-8a52-ebf9512a6b37 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aa7a7f8-5e3b-4124-8a52-ebf9512a6b37 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aa7a7f8-5e3b-4124-8a52-ebf9512a6b37 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aa7a7f8-5e3b-4124-8a52-ebf9512a6b37 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aa7a7f8-5e3b-4124-8a52-ebf9512a6b37 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aa7a7f8-5e3b-4124-8a52-ebf9512a6b37 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aa7a7f8-5e3b-4124-8a52-ebf9512a6b37 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-5aa7a7f8-5e3b-4124-8a52-ebf9512a6b37 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}