#s-f0faf42f-0ddc-435b-99e2-3e9cc79e78d2 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0faf42f-0ddc-435b-99e2-3e9cc79e78d2 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0faf42f-0ddc-435b-99e2-3e9cc79e78d2 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0faf42f-0ddc-435b-99e2-3e9cc79e78d2 #s-Image_150 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f0faf42f-0ddc-435b-99e2-3e9cc79e78d2 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-f0faf42f-0ddc-435b-99e2-3e9cc79e78d2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}